@import "../mixins/color";

$box-shadow-color: #545454;

.cv-admin-theme {
	.btn {
		font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
		-webkit-font-smoothing: antialiased;
		font-size: 13px;

		transition: box-shadow .2s;
		border: 0;
		cursor: pointer;
		box-sizing: border-box !important;

		&:focus, &:active, &:hover {
			box-shadow: none;
		}

		&:active {
			box-shadow: 3px 3px 10px $box-shadow-color !important;
		}

		&:hover {
			box-shadow: 0 0 5px $box-shadow-color;
		}

		&.btn-primary {
			background-color: $navigation-active-background-color !important;

			&:hover {
				//background-color: darken($navigation-active-background-color, 5%) !important;
			}
		}
	}
}
