@import "../mixins/sizes";
@import "~bootstrap/scss/bootstrap-grid";

.cv-main-container {
	float: left;

	height: calc(100% - #{$header-height});
	width: calc(100% - #{$navigation-width-large});

	margin-top: $header-height;
	margin-left: $navigation-width-large;

	@include media-breakpoint-down(sm) {
		margin-left: 0 !important;
		width: 100% !important;
	}

	transition: all .3s ease-in-out;

	.minified & {
		width: calc(100% - #{$navigation-width-minified});
		margin-left: $navigation-width-minified;
	}

	padding: 15px;
}