@import "../mixins/color";
@import "../mixins/sizes";

.cv-navigation-container {
	position: fixed;
	float: left;

	color: $navigation-text-color;
	background-color: $navigation-background-color;
	right: 1px solid darken($header-background-color, 20%);
	box-shadow: 2px 0 5px darken($header-background-color, 40%);

	height: calc(100% - #{$header-height});
	width: $navigation-width-large;

	margin-top: $header-height;

	.cv-navigation-user-container {
		height: 100px;
		background-color: darken($navigation-background-color, 5%);

		display: flex;
		// Center vertical
		align-items: center;
		// Center horizontal
		justify-content: center;

		font-size: 18px;
	}

	.cv-navigation {
		padding: 0;

		li {
			list-style: none;

			&.active {
				.cv-navigation-link {
					background-color: $navigation-active-background-color;
					color: $navigation-active-text-color;

					&:hover {
						background-color: $navigation-active-background-color;
					}

					.fa {
						color: $navigation-active-text-color;
					}
				}
			}

			// If navigation is open
			&.open.cv-sub-navigation {
				.cv-navigation-link {

					&::before {
						content: "\f0d8";
						font-family: FontAwesome, sans-serif;

						right: 10px;
						position: absolute;
					}
				}

				.cv-sub-navigation-list {
					display: block;
				}
			}

			// If navigation is closed
			&.cv-sub-navigation:not(.open) {
				.cv-navigation-link {

					&::before {
						content: "\f0d7";
						font-family: FontAwesome, sans-serif;

						right: 10px;
						position: absolute;
					}
				}
			}

			.cv-navigation-link {
				color: $navigation-text-color;
				display: flex;
				padding-left: 60px;
				transition: all .2s;
				height: 40px;
				align-items: center;

				&:active {
					background-color: $navigation-active-background-color;
				}

				&:hover {
					background-color: darken($navigation-background-color, 10%);
					text-decoration: none;
				}

				.fa {
					position: absolute;
					font-size: 23px;
					margin-left: -35px;
					color: $navigation-icon-color;
				}
			}

			.cv-sub-navigation-list {
				background-color: darken($navigation-background-color, 5%);
				display: none;
				padding: 10px 0;

				&.cv-animated {
					animation: top-slide-in 3s ease-out 1 normal;
					overflow: hidden;
				}

				li {

					&.active {
						.cv-navigation-link {
							background-color: darken($navigation-background-color, 10%);
							color: #fff;
						}
					}

					.cv-navigation-link {
						height: 30px;
						background-color: darken($navigation-background-color, 5%);
						color: $navigation-text-color;

						&:hover {
							background-color: darken($navigation-background-color, 10%);
							text-decoration: none;
						}

						&::before {
							content: '' !important;
						}
					}
				}
			}

		}
	}
}