@import "../mixins/color";
@import "../mixins/sizes";

.cv-navigation-container {
	position: fixed;
	float: left;

	color: @navigation-text-color;
	background-color: @navigation-background-color;

	height: ~"calc(100% - @{header-height})";
	width: @navigation-width-large;

	margin-top: @header-height;
}